// Styles for individual choices within product finder sections
.a-finderChoice {
  align-items: center;
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  max-width: 25%;
  min-width: 240px;

  .tooltip{
    display: inline-block;
    position: relative;
    text-align: left;
    .a-finderChoice__image--descriptionIcon {
      width: 1.2rem;
      margin-left: .58rem;
    }
    .top {
      min-width: 200px;
      top: -20px;
      left: 50%;
      transform: translate(-50%, -100%);
      padding: 10px 20px;
      color: black;
      background-color: $grey-light;
      font-weight: normal;
      font-size: 13px;
      border-radius: 8px;
      position: absolute;
      z-index: 99999999;
      box-sizing: border-box;
      visibility: hidden;
      transition: opacity .8s;
      line-height: 1.2rem;
      i {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 12px;
        overflow: hidden;

        &:after{
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          left: 50%;
          transform: translate(-50%,-50%) rotate(45deg);
          background-color: $grey-light;
        }
      }
    }
    &:hover .top{
      visibility: visible;
      opacity: 1;
      cursor: pointer;
    }
  }

  @include element('image') {
    height: 225px;
    object-fit: contain;
    width: 150px;
  }

  @include element('input') {
    @include size(2rem);
    appearance: none;
    background-color: $clear-yellow;
    border: 2px solid $grey-medium-light;
    font-size: 1.6rem;
    outline: none;
    position: relative;
    transition: background-color $base-duration $base-timing;

    &:checked {
      background-color: $yellow;
      box-shadow: inset 0 0 0 .125rem $white;
    }

    &[type='radio'] {
      border-radius: 50%;
    }

    &[type='checkbox'] {
      border-radius: 20%;

      &:checked {

        &:before {
          color: $white;
          content: '✓';
          left: 12.5%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  @include element('label') {
    @include footer-title;
    padding: .5rem 0;
    text-align: center;

    @include modifier('subtitle') {
      color: $grey-medium;
      font-size: 75%;
      font-weight: $font-regular;
    }
  }
}
