// Links in the website footer
.a-footerLink {
  color: inherit;

  @include modifier('copyright') {
    &::after {
      color: $grey-medium;
      content: "|";
      padding: 0 .35rem 0 .5rem;

      &:hover {
        color: inherit;
      }
    }
  }

  @include modifier('feature') {
    color: $yellow;
  }
}
