// Inline button styles
.a-inlineButton {
  background-color: $yellow;
  box-sizing: border-box;
  color: $grey-dark;
  font-size: 1.125rem;
  font-weight: 600;
  height: 2.5rem;
  margin: 0 .125rem 0 0;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
