// Navigation button styles
.a-navButton {
  background-color: $white;
  font-weight: $font-bold;
  padding: .5rem 1rem;
  transition: background-color $base-duration $base-timing;

  &:hover {
    background-color: $yellow;
    color: $black;
  }
}
