// Styles for a block within a navigation grid
.a-navBlock {
  align-items: space-around;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  padding: .25rem;
  text-align: center;

  @include modifier('pictureGrid') {
    background-color: $white;
    border: 1px solid $grey-dark;
    color: $grey-dark;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
      color: $grey-dark;
    }
  }

  @include element('description') {
    @include proxima-nova;
    font-size: rem(16);
    margin: 0;
  }

  @include element('image') {
    max-height: 6rem;
    mix-blend-mode: multiply;
    object-fit: contain;
    padding-top: .75rem;
    width: 100%;

    @media(min-width: 480px) {
      max-height: 8rem;
    }
  }

  @include element('title') {
    @include proxima-nova-semibold;
    font-size: rem(16);
    margin: 0 auto;
    width: 65%;
  }
}
