// Product badge styles
.a-productBadge {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 73px;

  @include element('image') {
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
  }

  @include element('subtitle') {
    @include proxima-nova-semibold;
    color: $grey-medium;
    font-size: .64rem;
    margin: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
