.error--404 {

  .o-heroGeneral {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 720px) {
      background-size: 80%;
      background-position: 5rem center;
    }
  }

  main {
    background-color: $white;
    margin: 0 auto;
    max-width: 1280px;
    padding: 3rem 5%;
    position: relative;
  }
}
