.category {

  .o-heroGeneral {

    .breadcrumbs {
      @include cta-small-text;
      display: inline-block;
      font-size: .75rem;
      text-transform: none;
    }
  }

  .o-articleGrid {
    padding: 2rem 5vw 1rem;
  }
}
