// Content page styles
.content {

  &.content--general,
  &.content--blogPost {
    display: flex;
    flex-wrap: wrap;

    @media(min-width: 920px) {
      flex-direction: row;
    }

    header,
    footer {
      width: 100%;
    }
  }

  @include element('article') {
    flex: 0 1 auto;
    padding: 1rem 5%;
    width: 100%;

    @media(min-width: 920px) {
      padding: 1rem 1% 1rem 5%;
      width: 60%;
    }
  }

  @include element('main') {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1100px;
    padding: 1rem 5% 2rem;
    width: 100%;
  }

  @include element('sidebar') {
    flex: 0 1 auto;
    padding: 1rem 5% 0;
    width: 100%;

    @media(min-width: 920px) {
      padding: 1rem 5% 1rem 1%;
      width: 35%;
    }
  }

  &.content--contact {
    .o-simpleNav {
      position: fixed;
    }
  }

  &.content--distributors {
    .o-generalBlock {
      padding: 2rem 5% 0;
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  &.content--international {
    .o-heroGeneral {
      margin-top: 4rem;
    }

    .o-simpleNav {
      margin-top: -4rem;
    }
  }
  
  .content__main_aside_wrapper {
    align-items: self-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
  }
}
