// Styles for homepage templates
.homepage {

  @include element('header') {
    background-size: cover;
    background-position: center;
  }
}

.homepage--multiregion {
  .o-simpleNav {
    background-color: $clear-white;
  }
}
