/**
 * Content Sectioning
 */

// address {}
// article {}
// aside {}
// footer {}
// h1 {}
// h2 {}
// h3 {}
// h4 {}
// h5 {}
// h6 {}
// header {}
// hgroup {}
// main {}
// nav {}
section {
  width: 100%;
}
