/**
 * Forms
 */

label,
button,
input,
select {
  cursor: pointer;
}

// button {}

#{$all-buttons},
#{$all-text-inputs}, {
  @include footer-button;
  border: none;
  padding: .8rem 1.6rem;
}

// datalist {}
// fieldset {}
// form {}

#{$all-text-inputs} {
  &::placeholder {
    color: $yellow;
  }
}

input[type="submit"] {
  background-color: $grey-dark;
  color: $yellow;
}

// label {}
// legend {}
// meter {}
// optgroup {}
// option {}
// output {}
// progress {}
// select {}
// textarea {}
