/**
 * Inline-Text Semantics
 */

a {
  color: inherit;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    color: $yellow-dark;
  }
}

// abbr {}
// b {}
// br {}
// cite {}
// code {}
// del {}
// em {}
// i {}
// ins {}
// mark {}
// q {}
// small {}

// span {}
// strong {}
// sub {}
// sup {}
// time {}
// u {}
