/**
 * Sectioning Root
 */

// html {}

*,
*::before,
*::after {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include open-sans-regular;
}
