/**
 * Text Content
 */

// blockquote {}
// dd {}
// div {}
// dl {}
// dt {}
// figcaption {}
// figure {}
// hr {}
// li {}
// main {}
// ol {}

p {
  @include paragraph();
  line-height: 1.38;
  orphans: 3;
  widows: 3;
}

// pre {}
// ul {}
