// Resets basic styles
.gfield {
  .recaptcha-disclosure {
    color: $white;
    font-size: .8rem;
    margin: .5rem auto;
    text-align: center;
  }
}

.gfield_label {
  display: none;
}

.gform_fields {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.gform_body {
  width: 100%;

  .gform_fields {
    display: flex;
    flex-wrap: wrap;
  }
}

.gform_confirmation_message {
  margin: auto;
  padding: .5rem;
}

.ginput_container {
  margin: 0 auto;
  max-width: 100%;

  .medium,
  .large {
    width: 100%;
  }
}

.ginput_container_select>select {
  color: $yellow;
}

.gform_validation_container {
  display: none;
}
