// Styles for a grid of articles
.o-articleGrid {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5vw 1rem;

  @include element('article') {
    width: 100%;

    @media(min-width: 640px) {
      width: 50%;
    }

    @media(min-width: 960px) {
      width: 33%;
    }
  }

  @include element('headline') {
    padding: 2rem;
    text-align: center;
    width: 100%;
  }
}
