// Styles for CTAs with an image background
.o-ctaBackground {
  background-position: bottom -4vw right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 10% 16rem;

  @media(min-width: 640px) {
    padding: 2rem 10% 6rem;
  }

  @include element('button') {
    @include large-button;
    background-color: $yellow;
    font-weight: 500;
    min-width: 240px;
    margin-bottom: 12rem;
    max-width: 640px;
    padding: 1.25rem;
    text-align: center;
    width: 70%;

    @media(max-width: 900px) {
      margin-bottom: 9rem;
    }

    @media(max-width: 700px) {
      margin-bottom: 6rem;
    }

    @media(max-width: 600px) {
      margin-bottom: -5rem;
    }

    @media(max-width: 500px) {
      margin-bottom: -7rem;
    }

    &:hover {
      color: $white;
    }
  }

  @include element('description') {
    @include cta-small-text;
    max-width: 800px;
    padding-bottom: 1.6rem;
    text-align: center;
    width: 80%;

    @media(max-width: 640px) {
      width: 100%;
    }
  }

  @include element('headline') {
    @include cta-small-title;
    text-align: center;
    text-transform: uppercase;
  }
}
