// Category block navigation styles
.o-categoryNav {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 2.5% 0;
  justify-content: center;

  @include element('link') {
    flex-grow: 0;
    text-align: center;
    width: 50%;

    @media(min-width: 540px) {
      width: 33.3333333333%;
    }

    @media(min-width: 920px) {
      flex-grow: 1;
      width: auto;
    }

    @include modifier('faq') {
      flex-grow: 1;
      width: 50%;

      @media(min-width: 660px) {
        width: 33.3333333333%;
      }

      @media(min-width: 1080px) {
        width: auto;
      }
    }
  }

  @include element('block') {
    background-color: $grey-dark;
    margin: 1px;
    color: $white;
    padding: 1rem;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
      color: $white;
    }

    @include modifier('faq') {
      font-weight: $font-bold;
    }
  }
}
