// Styles for CTAs with an image background
.o-ctaBackground {
  background-position: bottom -4vw right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 10% 16rem;

  @include element('button') {
    @include large-button;
    background-color: $yellow;
    font-weight: 500;
    min-width: 240px;
    max-width: 640px;
    padding: 1.25rem;
    text-align: center;
    width: 70%;

    &:hover {
      color: $white;
    }
  }

  @include element('description') {
    @include cta-small-text;
    max-width: 800px;
    padding-bottom: 1.6rem;
    text-align: center;
    width: 80%;
  }

  @include element('headline') {
    @include cta-small-title;
    text-align: center;
    text-transform: uppercase;
  }
}
