// Category block navigation styles
.o-categoryNav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem 0 0;

  @include element('block') {
    background-color: $grey-dark;
    margin: 1px;
    color: $white;
    padding: 2rem 1rem;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
      color: $white;
    }

    @include modifier('faq') {
      font-weight: $font-bold;
    }
  }

  @include element('link') {
    flex: 1 1 50%;
    text-align: center;

    @media ( min-width: 540px) {
      flex: 1 1 33%;
    }

    @media ( min-width: 768px) {
      flex: 1 1 20%;
    }
  }
}
