// Styles for CTAs arranged in grid patterns
.o-ctaGrid {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: .5% .25%;

  @include element('item') {
    background-color: $grey-lightest;
    margin: .5rem;
    outline: 0 solid $clear-yellow;
    transition: outline $base-duration $base-timing,
      margin $base-duration $base-timing;
    width: calc( 50% - 1rem );

    @media(min-width: 640px) {
      width: calc( 33% - 1rem );
    }

    @media(min-width: 960px) {
      width: calc( 25% - 1rem );
    }

    &:hover {
      outline: .5rem solid $yellow;
    }

    @include modifier('large') {
      height: 100%;
      margin: .5% 1%;
      width: 98%;

      @media(min-width: 640px) {
        margin: 0 .5%;
        width: 49%;
      }
    }

    @include modifier('small') {
      height: 100%;
      margin: .5% 1%;
      width: 98%;

      @media(min-width: 640px) {
        margin: .4%;
        width: 32.5%;
      }
    }
  }
}
