// Styles for the contact grid module
.o-contactGrid {

  @media(min-width: 640px) {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: calc(100% - 2rem);
  }

  @include element('section') {
    background-color: $grey-lightest;
    margin: 1.5rem 0;
    padding-bottom: 2rem;
    width: 95%;

    @media(min-width: 640px) {
      width: 48%;
    }
  }
}
