// Styles for the categories list module
.o-categoriesList {
  @include footer-button;
  align-items: flex-start;
  border-bottom: 1px solid $grey-light;
  flex-direction: row;
  margin: auto;
  max-width: 1100px;
  padding: 1rem 5% 2rem;
  text-transform: uppercase;

  @include element('categories') {
    color: $grey-dark;
    padding: 0 1rem;
  }

  @include element('headline') {
    color: $yellow;
  }
}
