// Styling for featured posts grids
.o-featuredPosts {
  background-size: cover;
  text-shadow: 1px 1px 2px $black-25;
  padding: 3rem 0 4rem;

  @include element('articles') {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include element('headline') {
    @include headline;
    background-size: cover;
    color: $yellow;
    text-align: center;
    text-transform: uppercase;
  }

  @include element('link') {
    color: $yellow;
    font-size: 1.15rem;
    padding-top: 2rem;
  }
}
