// Footer newsletter signup styles
.o-footerNewsletter {
  background: radial-gradient(
    tint($yellow, 18%),
    shade($yellow, 8%)
  );
  padding: 1.6rem 0;

  @include element('headline') {
    @include footer-title;
    margin: 0;
    max-width: 80%;
    padding-bottom: .8rem;
    text-align: center;
    text-transform: uppercase;
  }

  @include element('form') {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
