// Copyright text styling
.o-footerCopyright {
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;

  @include element('content') {
    @include proxima-nova-semibold;
    font-size: rem(16);
    color: $grey-medium;
  }
}
