// Feature block styles
.o-featureBlock {
  background-color: $grey-dark;
  color: $white;
  padding: 4rem 5%;

  @include modifier('inverted') {
    background-color: $white;
    color: $grey-dark;
  }

  @include element('content') {
    margin: 0 auto;
    max-width: 1000px;

    p {
      color: $white;
    }

    @include modifier('inverted') {
      p {
        color: $grey-dark;
      }
    }
  }

  @include element('headline') {
    @include headline;
    color: $yellow;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 1000px;

    @include modifier('inverted') {
      color: $grey-dark;
    }
  }
}
