// Copyright text styling
.o-footerCopyright {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 1rem .25rem;
  max-width: 1100px;
  text-align: center;

  @media(min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: inherit;
  }

  @include element('content') {
    @include proxima-nova-bold;
    font-size: .65rem;
    color: $grey-medium-light;
    text-transform: uppercase;
  }
}
