// Styling for the distributor table
.o-faq {
  padding: 0 2.5% 2rem;

  @include element('category') {
    @include proxima-nova-bold;
    background-color: $grey-medium-dark;
    border-bottom: .125rem solid $white;
    color: $white;
    font-size: rem(24);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}
