// Styles for the masthead in the footer
.o-footerMasthead {
  padding: 3rem 0;

  @include element('logo') {
    max-width: 300px;
  }
}

.o-footerMasthead__tagline {
  color: $white;
  font-size: 1.4rem;
  padding-top: 1rem;
}
