// Footer newsletter signup styles
.o-footerNewsletter {
  background: radial-gradient(
    tint($yellow, 18%),
    shade($yellow, 8%)
  );
  padding: 1.6rem 0;

  @include element('disclosure') {
    color: $grey-dark;
    font-size: .8rem;
    margin: .25rem auto;
    text-align: center;
    padding: 0 5%;

    a:hover {
      color: $grey-medium;
    }
  }

  @include element('form') {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .gform_body {
      flex: 0 1 80%;

      @media(max-width: 640px) {
        flex: 0 1 100%;
      }

      .gform_fields {
        flex-wrap: nowrap;
        justify-content: space-between;

        @media(max-width: 640px) {
          flex-wrap: wrap;
        }
      }

      [type="text"] {
        font-size: 1rem;
        font-weight: 500;

        &::placeholder {
          color: #39383d;
          font-size: 1rem;
          font-weight: 500;
        }

        @media(max-width: 640px) {
          margin-top: 2px;
        }
      }
    }

    .gform_footer {
      flex: 0 1 20%;
      padding-left: 2px;

      @media(max-width: 640px) {
        flex: 0 1 100%;
        padding-left: 0;
      }
    }
  }

  @include element('headline') {
    @include footer-title;
    font-weight: $font-bold;
    margin: 0;
    max-width: 80%;
    padding-bottom: .8rem;
    text-align: center;
    text-transform: uppercase;
  }
}
