// Styles for the general page content
.o-generalBlock {
  line-height: 1.4;
  width: 100%;

  a {
    color: $yellow-dark;

    &:hover {
      color: $grey-medium-light;
    }
  }
}

.o-generalBlock__feature {
  width: 100%;
}
