// Styles for the general hero area
.o-heroGeneral {
  background-color: $yellow;
  display: block;
  margin-top: 4.9rem;
  max-height: unset;
  position: relative;

  @media(min-width: 720px) {
    max-height: 210px;
  }

  @include element('background') {
    height: 100%;
    left: 0;
    max-height: unset;
    max-width: 1100px;
    mix-blend-mode: multiply;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;

    @media (min-width: 720px) {
      left: 5%;
      width: 70%;
    }
  }

  @include element('breadcrumbs') {
    @include cta-small-text;
    display: block;
    font-size: .75rem;
    margin-top: .5rem;
    position: relative;
    text-transform: none;
    z-index: 1;

    a {

      &:hover {
        color: #39383d;
        text-decoration: underline;
      }
    }
  }

  @include element('content') {
    @include banner-text;
    color: $grey-dark;
    margin: auto 0;
    text-align: center;
    text-transform: uppercase;
    max-width: 80%;
    padding: 2rem 0 0;
    z-index: 2;

    @media(min-width: 720px) {
      padding: 1rem 0 1rem 2rem;
      text-align: left;
    }

    @include modifier('feature') {
      @include lato-black;
      border-bottom: 1px solid $black;
      display: inline-block;
      font-size: rem(36);
      line-height: .8;
      margin-top: .3rem;
      padding-bottom: .4rem;
      position: relative;
      transition: font-size $base-duration $base-timing;

      @media(min-width: 445px) {
        font-size: rem(42);
      }

      @media(min-width: 890px) {
        font-size: rem(65);
      }
    }
  }

  @include element('image') {
    align-self: center;
    max-height: 210px;
    margin-left: 0;
    margin-top: 1rem;
    object-fit: contain;
    object-position: bottom;
    overflow: hidden;
    position: relative;
    width: 50%;

    @media(min-width: 720px) {
      margin-left: 1rem;
      margin-top: 0;
    }
  }

  @include element('wrapper') {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 3%;
    width: 100%;
    z-index: 1;

    @media(min-width: 720px) {
      flex-direction: row;
    }

    @media(min-width: 1100px) {
      margin: 0 auto;
    }
  }
}
