// Styling for the homepage map section
.o-homepageMap {
  padding: 10vh 1rem;
  text-align: center;

  @include element('dropdown') {
    background-color: rgba(0,0,0,.8);
    margin: 1rem 0;
    padding: 1rem 2rem;
    position: relative;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
    }
  }

  @include element('headline') {
    @include open-sans-bold;
    color: $white;
    line-height: 1.05;
    margin-bottom: 0;
    font-size: rem(24);
    text-transform: uppercase;
    transition: font-size $base-duration $base-timing;
    width: 100%;

    @include modifier('subhead') {
      @include lato-black;
      font-size: 180%;

      @media(min-width: 640px) {
        font-size: 225%;
      }

      @media(min-width: 960px) {
        font-size: 270%;
      }
    }
  }
}
