// Styles for the general hero area
.o-heroGeneral {
  background-size: cover;

  @include element('breadcrumbs') {
    @include cta-small-text;
    font-size: .75rem;
    margin-top: 1.2rem;
    text-transform: none;
  }

  @include element('content') {
    @include banner-text;
    text-align: center;
    text-transform: uppercase;
    max-width: 80%;
    padding: 2rem 0 0;

    @media(min-width: 720px) {
      max-width: 50%;
      padding: 6rem 0 0 2rem;
      text-align: left;
    }

    @include modifier('feature') {
      @include lato-black;
      font-size: rem(36);
      border-bottom: 1px solid $black;
      line-height: .8;
      transition: font-size $base-duration $base-timing;

      @media(min-width: 445px) {
        font-size: rem(42);
      }

      @media(min-width: 890px) {
        font-size: rem(65);
      }
    }
  }

  @include element('image') {
    align-self: center;
    max-height: 100%;
    max-width: 80%;
    width: 100%;

    @media(min-width: 720px) {
      align-self: flex-end;
      max-width: 50%;
    }
  }

  @include element('wrapper') {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;

    @media(min-width: 720px) {
      flex-direction: row;
    }
  }
}
