// Styling for the homepage map section
.o-homepageMap {
  padding: 10vh 0;
  text-align: center;

  @include element('headline') {
    @include open-sans-bold;
    color: $white;
    line-height: 1.05;
    margin-bottom: 0;
    font-size: rem(24);
    text-transform: uppercase;

    @include modifier('subhead') {
      @include lato-black;
      font-size: 270%;
    }
  }

  @include element('dropdown') {
    background-color: $black-50;
    margin: 4rem 0;
    padding: 1rem 2rem;
    position: relative;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
    }
  }
}
