// Styles for the featured post in the hero section of the blog homepage
.o-heroPost {
  background-color: $grey-lightest;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 98%;

  @media(max-width: 800px) {
    margin: 2%;
    width: 96%;
  }

  @media(max-width: 500px) {
    flex-wrap: wrap;
  }

  a {
    flex: 0 1 30%;

    @media(max-width: 500px) {
      flex: 0 1 100%;
      text-align: center;
    }
  }

  @include element('content') {
    @include headline;
    color: $grey-dark;
    line-height: .9;
    flex: 0 1 60%;
    max-width: 800px;
    padding: 1rem;

    @media(max-width: 500px) {
      flex: 0 1 100%;
    }

    @include modifier('headline') {
      line-height: 2.2rem;
    }

    @include modifier('description') {
      @include paragraph;
      font-size: .9rem;
    }

    @include modifier('link') {
      @include paragraph;
      color: $yellow;
      display: inline-block;
      font-size: .7rem;
      font-weight: 800;
      text-transform: uppercase;
      width: 100%;
    }
  }

  @include element('image') {
    margin: auto;
    max-width: 320px;
    padding: 1rem;
    width: 100%;
  }
}
