// Styles for the featured post in the hero section of the blog homepage
.o-heroPost {
  background-color: $grey-lightest;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  width: 98%;

  @include element('image') {
    margin: auto;
    max-width: 320px;
    padding: 1rem;
  }

  @include element('content') {
    @include headline;
    color: $grey-dark;
    line-height: .9;
    max-width: 50%;
    padding: 1rem;

    @include modifier('description') {
      @include paragraph;
      font-size: .9rem;
    }

    @include modifier('link') {
      @include paragraph;
      color: $yellow;
      font-size: .7rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
