// Styles for introductory content blocks
.o-introContent {
  background-color: $grey-dark;
  padding: 2.5rem 10%;
  text-align: center;

  @include modifier('inverted') {
    background-color: $white;

    .o-introContent__headline,
    .o-introContent__content > p {
      color: $grey-dark;
    }
  }

  @include element('content') {
    max-width: 75ch;
    padding-bottom: 1rem;

    p {
      color: $white;
    }
  }

  @include element('headline') {
    @include headline;
    color: $white;
    max-width: 60ch;
    text-transform: uppercase;
  }

  @include element('icon') {
    padding-bottom: 2rem;
  }
}
