// Styles for grids of links with background images
.o-linkGrid {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .1rem 0;
  width: 100%;

  @include element('group') {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @include element('headline') {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  @include element('item') {
    background-position: center;
    background-size: 120%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 48%;
    margin: 1px;
    transition: background-size $base-duration $base-timing;

    &:hover {
      background-size: 110%;
    }

    @media(min-width: 640px) {
      flex-basis: 32%;
    }
  }

  @include modifier('group') {

    .o-linkGrid__item {
      flex-grow: 0;
    }
  }
}
