// Styles for block-style linked buttons
.o-linkBlocks {
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem .5rem 4rem;
  text-shadow: 1px 1px 2px $grey-dark;

  @include element('headline') {
    @include headline;
    color: $yellow;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  @include element('links') {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
