// Styles for grids of links with background images
.o-linkGrid {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .1rem 0;
  width: 100%;

  @include element('group') {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @include element('headline') {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  @include element('item') {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 48%;
    margin: 1px;
    transition: all .3s ease-in-out;

    @media(min-width: 480px) {
      background-size: 180%;
    }

    @media(min-width: 640px) {
      flex-basis: 33%;
    }

    @media(min-width: 700px) {
      background-size: 200%;
    }

    @media(min-width: 1180px) {
      background-size: 130%;
    }

    &:hover {
      background-size: 195%;
      transition: all .3s ease-in-out;

      @media(min-width: 480px) {
        background-size: 195%;
      }

      @media(min-width: 700px) {
        background-size: 215%;
      }

      @media(min-width: 1180px) {
        background-size: 145%;
      }
    }
  }
}
