// Pagination styles
.o-pagination {
  @include product-labels-grid;
  color: $white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  text-transform: uppercase;

  @include element('adjacent') {
    background-color: $yellow;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    transition: color $base-duration $base-timing;
    width: calc(100% - 4rem);

    &:hover {
      background-color: #39383d;

      &::before {
        border-color: transparent #39383d transparent transparent;
      }

      &::after {
        border-color: transparent transparent transparent #39383d;
      }
    }

    @media(min-width: 640px) {
      width: calc(25% - 4rem);
    }

    @media(min-width: 960px) {
      width: calc(33.3333333333% - 4rem);
    }

    @media(max-width: 640px) {
      margin: 0 auto;
      width: 20%;
      font-size: .8rem;
    }

    @include modifier('previous') {
      margin: 1rem 1rem 1rem 3rem;
      text-indent: -1rem;

      @media(max-width: 640px) {
        margin: 1rem .1rem 1rem 3rem;
      }

      &::before {
        border-color: transparent #fcc215 transparent transparent;
        border-style: solid;
        border-width: 1.6rem 2rem 1.65rem 0;
        content: "";
        position: absolute;
        left: -2rem;
        top: 0;

        @media(max-width: 640px) {
          border-width: 1.47rem 1.5rem 1.47rem 0;
          left: -1.45rem;
        }
      }
    }

    @include modifier('next') {
      margin: 1rem 3rem 1rem 1rem;
      text-indent: 1rem;

      @media(max-width: 640px) {
        margin: 1rem 3rem 1rem .1rem;
      }

      &::after {
        border-color: transparent transparent transparent #fcc215;
        border-style: solid;
        border-width: 1.6rem 0 1.65rem 2rem;
        content: "";
        position: absolute;
        right: -2rem;
        top: 0;

        @media(max-width: 640px) {
          border-width: 1.47rem 0 1.47rem 1.5rem;
          right: -1.45rem;
        }
      }
    }
  }

  @include element('pages') {
    background-color: $yellow;
    justify-content: space-around;
    margin: 0 1rem;
    padding: 1rem .25rem;
    width: 100%;

    @media(min-width: 640px) {
      width: 50%;
    }

    @media(min-width: 960px) {
      width: 33.3333333333%;
    }

    @media(max-width: 640px) {
      font-size: .8rem;
      margin: 0;
      width: 30%;
    }

    .page-numbers {

      &:hover {
        color: #39383d;
      }
    }
  }
}
