// Styles for the intra-page navigation on product pages
.o-productNavigation {
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include element('link') {
    @include proxima-nova-semibold;
    background-color: $grey-dark;
    color: $white;
    border-left: 1px solid #9c9c9e;
    border-right: 1px solid #9c9c9e;
    border-bottom: 1px solid #9c9c9e;
    font-size: rem(18);
    padding: 2.5vw 0;
    text-align: center;
    transition: background-color $base-duration $base-timing,
      font-size $base-duration $base-timing;
    width: 50%;

    &:first-child {
      border-left: none;
      border-right: none;
    }

    &:last-child {
      border-left: none;
      border-right: none;
    }

    &:hover {
      background-color: $yellow;
      color: $white;
    }

    @media(max-width: 639px) {

      &:nth-child(3) {
        border-left: none;
      }
    }

    @media(min-width: 640px) {
      width: 25%;
    }

    @media(min-width: 800px) {
      font-size: rem(24);
    }

    @media(min-width: 1280px) {
      padding: 2rem 0;
    }
  }
}
