// Primary navigation menu styles
.o-primaryNav {
  align-items: flex-end;
  background-color: $white;
  flex-direction: row;
  height: 6rem;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  position: relative;
  z-index: 2;

  @include element('logo') {
    align-self: center;
    max-width: 13rem;
    width: 100%;
  }

  @include element('menu') {
    width: 100%;
  }

  @include element('quicklinks') {
    max-width: 15rem;
    width: 100%;
  }
}
