// Styles for the product downloads module
.o-productDownloads {
  background-color: $grey-light;
  padding: 2rem 5vw;

  @include element('headline') {
    color: $grey-medium-dark;
    text-align: center;
    text-transform: uppercase;
  }

  @include element('grid') {
    columns: 1;
    padding: 1rem 0;
    width: 80%;

    @media(min-width: 900px) {
      columns: 2;
      width: 100%;
    }
  }
}
