// Styles for the product options module
.o-productOptions {
  background-color: $grey-medium;
  padding: 2rem 5%;

  @include element('headline') {
    color: $white;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  @include element('featured') {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1440px;
    padding: 2rem 5%;
    width: 90%;

    @media(min-width: 640px) {
      padding: 2rem 0;
      width: 100%;
    }
  }

  @include element('item') {
    color: $white;
    cursor: pointer;
    padding: .5rem 1rem 0;
    transition: color $base-duration $base-timing;

    &:hover {
      color: $yellow;
    }
  }

  @include element('list') {
    columns: 1;
    padding-top: 1rem;
    transition: height $slow-duration $base-timing,
      opacity $slow-duration $base-timing;

    @media(min-width: 880px) {
      columns: 2;
    }
  }

  @include element('listToggle') {
    color: $yellow;
    cursor: pointer;
    transition: color $base-duration $base-timing;

    &:hover {
      color: $yellow-dark;
    }
  }
}
