// Primary navigation menu styles
.o-primaryNav {
  align-content: flex-start;
  background-color: $white;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 6rem;
  position: relative;
  z-index: 2;

  @include element('mobile') {
    @include size(100%);
    border-bottom: 1px solid $grey-light;
    display: inherit;

    @media(min-width: 800px) {
      display: none;
    }
  }

  @include element('wide') {
    display: none;

    @media(min-width: 800px) {
      display: inherit;
    }
  }

  @include element('countries') {
    background-color: $white;
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;
    left: 50%;
    margin: 0 auto;
    max-width: 480px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
  }
}
