// Primary navigation menu styles
.o-primaryNav {
  align-content: flex-start;
  background-color: $white;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 3rem;
  position: fixed;
  top: 0;
  z-index: 2;

  @include element('countries') {
    background-color: $black-50;
    left: 50%;
    margin: 0 auto;
    max-width: 480px;
    position: absolute;
    right: unset;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;

    @media(min-width: 960px) {
      left: unset;
      right: 1.25rem;
      top: -2.8rem;
      transform: unset;
    }
  }

  @include element('dropdowns') {
    position: relative;
    margin: auto;
    width: 100%;

    @media(min-width: 1100px) {
      width: 1100px;
    }
  }

  @include element('mobile') {
    @include size(100%);
    display: inherit;

    @media(min-width: 960px) {
      display: none;
    }
  }

  @include element('wide') {
    display: none;
    width: 100%;

    @media(min-width: 960px) {
      display: inherit;
    }
  }

  @include element('search') {
    background-color: $white;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;

    @media(min-width: 960px) {
      left: unset;
      right: 1.1rem;
      top: 0;
      transform: unset;
    }
  }
}
