// Styles for the product downloads module
.o-productDownloads {
  background-color: $grey-light;
  padding: 2rem 5%;

  @include element('headline') {
    color: $grey-medium-dark;
    text-align: center;
    text-transform: uppercase;
  }

  @include element('grid') {
    columns: 1;
    padding: 1rem 0;
    max-width: 1100px;
    width: 100%;

    @media(min-width: 900px) {
      columns: 2;
    }
  }
}
