// Styles for the quote request form module
.o-quoteRequest {
  background-color: $grey-dark;
  color: $white;

  @include element('headline') {
    color: $yellow;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    width: calc( 100% - 4rem );

    @media(min-width: 840px) {
      width: 100%;
    }
  }

  @include element('description') {
    margin: 0 auto;
    max-width: 800px;
    width: calc( 100% - 4rem );

    @media(min-width: 840px) {
      width: 100%;
    }

    p {
      color: $white;
    }
  }

  @include element('disclosure') {
    color: $grey-medium-light;
    font-size: .8rem;
    margin: .35rem auto;
  }

  @include element('form') {
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem 0 0;
    width: calc( 100% - 4rem );

    @media(min-width: 840px) {
      width: 100%;
    }
  }

  @include element('subtitle') {
    padding-top: 2rem;
    text-align: center;
  }

  @include element('phone') {
    color: $white;
    font-size: rem(24);
    font-weight: $font-bold;
    padding: .25rem 0 3.2rem;

    &:hover {
      color: $yellow;
    }
  }
}
