// Styles for the quote request form module
.o-quoteRequest {
  background-color: $grey-dark;
  color: $white;

  @include element('description') {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    padding: 0 5%;

    p {
      color: $white;
    }

    a {
      color: $yellow;
    }

    .a-inlineButton {
      background-color: $yellow;
      box-sizing: border-box;
      color: $grey-dark;
      font-size: 1.125rem;
      font-weight: 600;
      height: 2.5rem;
      margin: 0 .125rem 0 0;
      padding: .5rem 1rem;
      text-align: center;
      text-decoration: none;
    
      &:hover {
        color: $white;
      }
    }
  }

  @include element('disclosure') {
    color: $grey-medium-light;
    font-size: .8rem;
    margin: .35rem auto;
    max-width: 1100px;
    padding: 0 5%;
  }

  @include element('form') {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2rem 5% 0;
    width: 100%;
  }

  @include element('headline') {
    color: $yellow;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    width: calc( 100% - 4rem );

    @media(min-width: 840px) {
      width: 100%;
    }
  }

  @include element('phone') {
    color: $white;
    font-size: rem(24);
    font-weight: $font-bold;
    padding: .25rem 0 3.2rem;

    &:hover {
      color: $yellow;
    }
  }

  @include element('subtitle') {
    padding-top: 2rem;
    text-align: center;
  }
}
