// Styles for the multiregion list-style nav
.o-regionalNav {
  background-color: $grey-dark;
  padding: 2rem;

  @include element('country') {
    font-weight: $font-regular;
    margin: auto;
    width: 10rem;

    @media(min-width: 960px) {
      margin: inherit;
    }

    @include modifier('link') {
      background-color: $clear-yellow;
      display: block;
      line-height: 1.38;
      overflow-x: hidden;
      padding: .125rem 25% .125rem .75rem !important;
      transition: background-color $base-duration $base-timing;
      width: 100%;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }

  @include element('menu') {
    @include proxima-nova;
    color: $white;
    columns: 2;
    list-style-type: none;
    -webkit-margin-after: 0; // webkit hack
    -webkit-margin-before: 0; // webkit hack
    -webkit-padding-start: 0; // webkit hack

    @media(min-width: 480px) {
      columns: 3;
    }

    @media(min-width: 960px) {
      align-items: flex-start;
      display: flex;
      justify-content: center;
    }

    * > * { // Lobotomized owl to remove list style and padding
      list-style-type: none;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;
    }
  }

  @include element('region') {
    font-weight: $font-bold;
    margin: auto;
    width: 10rem;
    border-left: 1px solid #eee;

    @media(min-width: 960px) {
      margin: inherit;
    }

    @include modifier('link') {
      background-color: $clear-yellow;
      display: block;
      line-height: 1.38;
      overflow-x: hidden;
      padding: .125rem 25% .125rem .75rem;
      transition: background-color $base-duration $base-timing;
      width: 100%;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }
}
