// Styles for the related product module
.o-relatedProduct {
  background-color: $white;
  padding-bottom: 2rem;

  @include element('content') {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    width: 90%;
  }

  @include element('headline') {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
