// Sitemap styles
.o-sitemap {
  align-items: center;
  color: $grey-dark;
  text-transform: uppercase;
  padding: 0 5% 4rem;

  @include element('headline') {
    @include headline;
    padding-top: 2rem;
    text-align: center;
  }

  @include element('list') {
    @include banner-text;

    ul {
      @include list-reset;
    }

    .menu-item {
      margin: .5rem 0 .5rem .5rem;
    }

    .sub-menu,
    .children {
      @include cta-small-text;
      @include list-reset;
      margin: .25rem 0 .25rem .5rem;
      text-transform: none;
    }

    @include modifier('singleColumn') {
      @include cta-small-text;
      columns: 1;
      text-transform: none;
    }
  }
}
