// Styles for the simplified navigation at the top of the multiregion homepage
.o-simpleNav {
  background-color: $white;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;

  @include element('logo') {
    background-color: $white;
    max-width: 192px;
    padding: 1rem;
    width: 50%;

    img {
      @include size(100%);
    }
  }

  @include element('button') {
    padding-right: 2rem;
  }
}
