// Styles for the social sharing sidebar widget
.o-sidebarSocial {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;

  @include element('button') {
    border-radius: .125rem;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 .125rem;
    max-height: 48px;
    padding: .5rem;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
    }

    @include modifier('facebook') {
      background-color: $color-facebook;
    }

    @include modifier('twitter') {
      background-color: $color-twitter;
    }

    @include modifier('linkedIn') {
      background-color: $color-linkedin;
    }

    @include modifier('googlePlus') {
      background-color: $color-googleplus;
    }
  }
}
