// Styles for the general page content
.o-secondaryBlock {
  line-height: 1.4;
  width: 100%;

  a {
    color: $yellow-dark;

    &:hover {
      color: $grey-medium-light;
    }
  }
}

.o-secondaryBlock__feature {
  margin: auto;
  max-width: 640px;
  width: 100%;
}
