// Styles for video grid items
.o-videoGrid {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // Video styles from embedresponsively.com
  @include element('video') {
    cursor: pointer;
    height: auto;
    margin: 1rem;
    max-width: 100%;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    transition: outline $base-duration $base-timing;
    width: calc(100% - 2rem);

    @media(min-width: 640px) {
      width: calc(48% - 2rem);
    }

    @media(min-width: 940px) {
      width: calc(30% - 2rem);
    }

    &:hover {
      background-color: $yellow;
      outline: 4px solid $yellow;
    }
    p{
      margin: 0;
      color: white;
      padding: 1rem;
      font-size: .8rem;
    }

    .m-videoGrid__description{
      background-color: $grey-dark;

      p {

        &:last-child {
          color: $yellow-dark;
          font-size: .7rem;
          font-weight: 800;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
  }
}

.o-videoGrid__button {
  @include size(6rem);
  background-color: $black-50;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: scale(.99) translate(-50%, -50%);
  transition: transform $base-duration $base-timing;
}

.o-videoGrid__close {
  background-color: $yellow;
  box-sizing: border-box;
  color: $black;
  cursor: pointer;
  font-weight: $font-bold;
  padding: .5rem;
  text-align: center;
  transition: color $base-duration $base-timing;
  width: 100%;

  &:hover {
    color: $white;
  }
}

.o-videoGrid__dialog {
  @include proxima-nova;
  border: none;
  max-width: 1100px;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;

  &::backdrop,
  & + .backdrop {
    @include position(fixed, 0);
    background-color: $black-75;
  }
}

.o-videoGrid__embed {
  box-sizing: border-box;
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  embed,
  iframe,
  object {
    @include size(100%);
    left: 0;
    position: absolute;
    top: 0;
  }
}

.o-videoGrid__triangle {
  @include size(3rem);
  fill: $yellow;
  left: 62.5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill $base-duration $base-timing;
}
