// Styles for video grid items
.o-videoGrid {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // Video styles from embedresponsively.com
  @include element('video') {
    height: auto;
    margin: 1rem;
    max-width: 100%;
    min-width: 280px;
    overflow: hidden;
    position: relative;
    width: calc(33% - 2rem);
    .m-videoGrid__description{
      background-color: $grey-dark;
    }
    p{
      margin: 0;
      color: white;
      padding: 1rem;
      font-size: .8rem;
    }

    iframe,
    object,
    embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
