// Styles for video grid items
.o-videoGrid {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  // Video styles from embedresponsively.com
  @include element('video') {
    height: auto;
    margin: 1rem;
    max-width: 100%;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    transition: outline $base-duration $base-timing;
    width: calc(100% - 2rem);

    @media(min-width: 640px) {
      width: calc(48% - 2rem);
    }

    @media(min-width: 940px) {
      width: calc(30% - 2rem);
    }

    &:hover {
      background-color: $yellow;
      outline: 4px solid $yellow;
    }
    p{
      margin: 0;
      color: white;
      padding: 1rem;
      font-size: .8rem;
    }

    iframe,
    object,
    embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .m-videoGrid__description{
      background-color: $grey-dark;

      p {

        &:last-child {
          color: $yellow-dark;
          font-size: .7rem;
          font-weight: 800;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
  }
}
