// Sidebar widget styles
.o-widget {
  color: $grey-dark;
  padding: 1rem 0 0;

  @include element('headline') {
    @include headline-blog();
    background-color: $grey-lightest;
    margin: .25rem 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  @include element('form') {
    width: 100%;
  }

  @include element('link') {
    background-color: $grey-lightest;
    max-width: 640px;
    margin: .125rem 0;
    width: 100%;

    @include modifier('related') {
      text-align: center;
      padding: .5rem;
    }
  }
}
