// Sidebar widget styles
.o-widget {
  color: $grey-dark;
  padding: 2rem 0 0;

  @include element('authorBox') {
    background-color: $grey-lightest;
    width: 100%;
  }

  @include element('disclosure') {
    color: $grey-dark;
    font-size: .6rem;
    margin: .25rem auto -.5rem;
    width: calc(100% - 2rem);
    text-align: center;
  }

  @include element('featuredPost') {
    background-color: $grey-lightest;
    margin: .125rem 0;
    padding: 2rem;
    width: 100%;

    &:hover {
      background-color: $yellow;

      .m-featuredPost__content--title {
        color: #39383d;
      }

      .m-featuredPost__content--link {
        color: $white;
      }
    }

    @include modifier('title') {
      @include subheadline;
    }

    @include modifier('link') {
      @include proxima-nova-bold;
      color: $yellow;
      font-size: rem(12);
      text-transform: uppercase;
    }
  }

  @include element('form') {
    width: 100%;
  }

  @include element('headline') {
    @include headline-blog();
    background-color: $grey-lightest;
    font-size: 1rem;
    margin: .125rem 0;
    padding: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  @include element('link') {
    background-color: $grey-lightest;
    color: $grey-dark;
    margin: .125rem 0;
    transition: background-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      background-color: $yellow;
      color: $grey-dark;
    }

    @include modifier('related') {
      text-align: center;
      padding: .75rem;
    }
  }
}

.m-featuredPost__content--link {
  color: $yellow-dark;
  display: inline-block;
  font-size: .7rem;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
}
