/* Colors used in the theme */
$black: rgba(0, 0, 0, 1);
$clear-black: rgba(0, 0, 0, 0);
$clear-white: rgba(255, 255, 255, 0);
$gold: rgba(252, 194, 21, 1);
$gold-light: rgba(252, 225, 125, 1);
$grey-dark: rgba(57, 56, 61, 1);
$grey-light: rgba(156, 155, 158, 1);
$white: rgba(255, 255, 255, 1);
