/* Standard colors and those used in the theme */
$black: rgba(0, 0, 0, 1);
$black-25: rgba(0, 0, 0, .25);
$white: rgba(255, 255, 255, 1);

$clear-black: rgba(0, 0, 0, 0);
$clear-white: rgba(255, 255, 255, 0);

$yellow: rgba(#fcc215, 1);
$clear-yellow: rgba(#fcc215, 0);
$yellow-dark: rgba(#e7ad01, 1);

$grey-dark: rgba(#39383d, 1);
$grey-medium-dark: rgba(#59585c, 1);
$grey-medium: rgba(#747377, 1);
$grey-medium-light: rgba(#9c9c9e, 1);
$grey-light: rgba(#d7d7d8, 1);
$grey-lightest: rgba(#fafafa, 1);
