// Styles for article previews
.m-articlePreview {
  align-items: center;
  background-color: $grey-lightest;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: .75rem;
  outline: 0 solid $clear-yellow;
  position: relative;
  text-shadow: none;
  transition: outline $base-duration $base-timing;
  flex-basis: 340px;

  &:hover {
    background-color: $yellow;
    outline: 4px solid $yellow;
  }

  @include modifier('blog') {
    background-color: $grey-dark;
    color: $white;

    .m-articlePreview__headline,
    .m-articlePreview__article > p {
      color: $white;
    }
  }

  @include element('article') {
    @include paragraph;
    color: #333;
    font-size: .75rem;
    line-height: 1.25rem;
    width: 80%;
  }

  @include element('featuredImage') {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  @include element('headline') {
    @include lato-bold;
    color: #333;
    font-size: 1.25rem;
    text-align: left;
    width: 80%;
  }

  @include element('link') {
    color: $yellow-dark;
    font-size: .7rem;
    font-weight: 800;
    padding: 1rem 0 2rem;
    text-align: left;
    text-transform: uppercase;
    width: 80%;
  }

  @include element('photo') {
    align-self: flex-start;
    border: 2px solid $yellow;
    border-radius: 50%;
    margin-top: -2.6rem;
    margin-left: 8%;
    object-fit: cover;
    @include size(72px);
    z-index: 1;
  }
}
