// Styles for individual block-style buttons
.m-blockLink {
  align-items: center;
  background-color: $black-25;
  border: 6px solid $yellow;
  display: flex;
  flex-direction: column;
  margin: .25rem;
  padding: 2rem;
  transition: background-color $base-duration $base-timing;
  max-width: 300px;

  &:hover {
    background-color: $yellow;
  }

  @include element('icon') {
    margin: auto;
    max-width: 90px;
  }

  @include element('text') {
    color: $white;
    text-align: center;

    &:hover {
      color: $white;
    }
  }
}
