.m-ctaGridItem {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 366px;

  @include element('headline') {
    @include cta-small-title;
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem 1rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include modifier('large') {
      @include cta-large-title;
    }
  }

  @include element('subhead') {
    @include cta-small-text;
    color: #666;
    margin: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;

    @include modifier('large') {
      @include cta-large-text;
    }
  }

  @include element('image') {
    object-fit: contain;
    object-position: center;
    height: 320px;
    width: 45%;
  }
}
