// Country selector styles
.m-countrySelector {
  background-color: $black-50;
  color: $white;
  display: none;
  flex-wrap: wrap;

  @include modifier('preload') {
    display: hidden;
  }

  @include modifier('has-loaded') {
    display: flex;
  }

  @include element('country') {
    color: $white;
    font-weight: $font-regular;
    margin: auto 0;
    width: calc( 100% - 4.4rem );
  }

  @include element('flag') {
    @include size(2rem);
    margin: .25rem 1rem .5rem 1.5rem;
  }

  @include element('heading') {
    border-bottom: 1px solid $grey-medium-dark;
    box-sizing: border-box;
    color: $white;
    font-weight: $font-regular;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }

  @include element('item') {
    align-content: center;
    background-color: $clear-yellow;
    border-bottom: 1px solid $grey-medium-dark;
    display: flex;
    height: 2.6rem;
    justify-content: flex-start;
    transition: background-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      background-color: $yellow;
      color: $grey-medium-dark;
    }
  }

  @include element('region') {
    color: $white;
    font-weight: $font-bold;
    margin: auto 1.4rem;
    width: 100%;
  }
}
