// Country selector styles
.m-countrySelector {
  background-color: $black-50;
  color: $white;
  display: none;
  flex-wrap: wrap;

  @include modifier('preload') {
    display: hidden;
  }

  @include modifier('has-loaded') {
    display: flex;
  }

  @include element('item') {
    align-content: center;
    display: flex;
    justify-content: flex-start;
    height: 2.4rem;
    width: 100%;
  }

  @include element('flag') {
    @include size(2.4rem);
    margin: 0 1rem;
  }

  @include element('country') {
    font-weight: $font-regular;
    margin: auto 0;
    width: calc( 100% - 4.4rem );
  }

  @include element('region') {
    font-weight: $font-bold;
    margin: auto 1rem;
    width: 100%;
  }
}
