.m-ctaGridItem {
  @include size(100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  @media(max-width: 640px) {
    padding-top: 0;
  }

  @include element('headline') {
    @include cta-small-title;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @media(min-width: 540px) {
      font-size: 1.5rem;
    }

    @include modifier('large') {
      @include cta-large-title;
    }
  }

  @include element('image') {
    @include size(96px);
    object-fit: contain;
    object-position: center;
    padding-top: .5rem;

    @media(min-width: 420px) {
      @include size(120px);
    }

    @media(min-width: 800px) {
      @include size(160px);
      padding-top: 1rem;
    }

    @media(min-width: 960px) {
      @include size(120px);
    }

    @media(min-width: 1100px) {
      @include size(160px);
    }

    @include modifier('large') {
      height: auto;
      width: 60%;
      max-width: 360px;
      align-self: flex-end;
    }
  }

  @include element('subhead') {
    @include cta-small-text;
    color: $grey-dark;
    font-size: .8rem;
    margin: .25rem .5rem .5rem;
    text-align: center;
    width: 100%;

    @media(min-width: 540px) {
      margin: .5rem .5rem 0;
    }

    @include modifier('large') {
      @include cta-large-text;
    }
  }
}
