// Individual blocks within the contact area of the footer
.m-contactBlock {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 6.5vw;

  @include element('body') {
    @include footer-text();
    color: $white;
    line-height: 1.22;

    @media(max-width: 639px) {
      text-align: center;
      width: 100%;
    }

    p,
    div {
      color: $white;
    }
  }

  @include element('headline') {
    @include footer-title();
    color: $white;
    margin-bottom: .5rem;
    width: 100%;
    @media(max-width: 639px) {
      text-align: center;
    }
  }

  @include element('socialLink') {
    background: $grey-medium-light;
    border-radius: .125rem;
    @include size(4rem);
    margin-right: .25rem;
    position: relative;
    transition: background $base-duration $base-timing;

    &:hover {
      background: $yellow;
    }

    svg {
      fill: $grey-dark;
      height: 50%;
      left: 25%;
      position: absolute;
      top: 25%;
      width: auto;
    }
  }
}
