// Styling for individual countries in the distributor table
.m-distributorCountry {
  @include footer-text;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: background-color $base-duration $base-timing;
  width: 100%;

  @include element('contact') {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;

    @media(min-width: 800px) {
      justify-content: flex-end;
      width: 50%;
    }

    @include modifier('button') {
      @include large-button;
      background-color: $yellow;
      color: $grey-dark;
      font-size: 1.25rem;
      margin: 0 2rem;
      padding: 1.5rem;
      text-align: center;
      transition: color $base-duration $base-timing;

      &:hover {
        color: $white;
      }
    }
  }

  @include element('content') {
    padding: 0 1rem 0 4.5rem;
    transition: padding $base-duration $base-timing;
    width: 100%;

    @media(min-width: 800px) {
      padding: 0 0 2rem 4.5rem;
      width: 50%;
    }

    @include modifier('company') {
      font-weight: $font-bold;
    }

    @include modifier('address') {
      font-style: normal;
    }

    @include modifier('link') {
      color: $yellow;
    }
  }

  @include element('divider') {
    border: 1px solid $grey-light;
    height: 1px;
    width: 100%;

    &:last-of-type {
      display: none;
    }
  }

  @include element('wrapper') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
