// Styles for the dialog windows for distributor tables
.m-distributorDialog {
  max-width: 800px;

  @include element('button') {
    @include large-button;
    background-color: $yellow;
    color: $grey-dark;
    cursor: pointer;
    margin: 1rem auto;
    padding: 1rem 2rem;
    text-align: center;
    transition: color $base-duration $base-timing;

    &:hover {
      color: $white;
    }
  }
}
