// Styling for individual countries in the distributor table
.m-faqAnswer {
  @include footer-text;
  display: flex;
  flex-wrap: wrap;
  transition: background-color $base-duration $base-timing;
  width: 100%;

  @include element('content') {
    line-height: 1.8rem;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 1rem;
    transition: padding $base-duration $base-timing;
    width: 100%;

    @media(min-width: 800px) {
      padding: 1rem 2rem;
    }
  }
}
