// Styles specific to the Gravity Forms form in the newsletter footer module
.m-footerForm {
  display: flex;
  max-width: 800px;
  margin: 0 2rem;
  width: calc( 100% - 4rem );

  @include element('email') {
    width: 100%;
  }
}
