// Styles for the toggle section of distributor information blocks
.m-faqToggle {
  @include footer-text;
  background-color: $grey-light;
  border-bottom: .5px solid $white;
  position: relative;
  transition: background-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    background-color: $yellow;
  }

  &.--toggled {
    background-color: $yellow;
    .m-faqToggle__icon{
      fill: $white;
      transform: rotate(90deg);
    }
  }

  @include element('icon') {
    @include size(1.5rem);
    fill: $white;
    left: 1rem;
    top: 1rem;
    position: absolute;
    transform: rotate(0);
    transform-origin: center;
    transition: fill $base-duration $base-timing,
      transform $base-duration $base-timing;

    &.--toggled {
      fill: $yellow-dark;
      transform: rotate(90deg);
    }

    svg {
      @include size(100%);
    }
  }

  @include element('category') {
    line-height: 1.7rem;
    font-weight: $font-bold;
    margin: 0;
    max-width: 90vw;
    padding: 1rem 0 1rem 4.5rem;
  }
}
