// Styles for individual sections within the product finder form
.m-finderSection {
  @include cta-small-title;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include element('choices') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1100px;
    width: 100%;
  }

  @include element('headline') {
    padding-bottom: 2rem;
    text-transform: uppercase;
  }

  @include element('number') {
    @include size(48px);
    background-color: $yellow;
    border-radius: 50%;
    color: $white;
    margin: 1rem auto;
    padding-top: .25rem;
  }

  @include element('reset') {
    @include large-button;
    background-color: $grey-lightest;
    border: .125rem solid $grey-light;
    color: $grey-light;
    cursor: pointer;
    margin: 1rem;
    padding: .5rem 4rem;
    transition: background-color $base-duration $base-timing,
      border $base-duration $base-timing,
      color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
      border: .125rem solid $clear-black;
      color: $white;
    }
  }

  @include element('submit') {

    &[type='submit'] {
      @include large-button;
      background-color: $yellow;
      color: $grey-dark;
      cursor: pointer;
      max-width: 800px;
      transition: color $base-duration $base-timing;
      width: 50%;

      &:hover {
        color: $white;
      }
    }
  }

  fieldset {
    @include list-reset;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
