// Styles specific to the Gravity Forms form in the newsletter footer module
.m-footerForm {
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  width: calc( 100% - 4rem );

  @include element('email') {
    width: 100%;
  }

  input[type="email"] {
    font-size: 1.25rem;
    font-weight: 500;

    &::placeholder {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  input[type="submit"] {
    padding: .8rem 2.4rem;
    transition: color $base-duration $base-timing;

    &:hover {
      color: $white;
    }
  }
}

.m-footerForm_wrapper {
  width: 100%;
}
