// Styles for individual sections within the contact module
.m-gridSection {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include element('icon') {
    @include size(4.5rem);
    background-color: $white;
    border-radius: 50%;
    margin: 2rem auto;
    position: relative;

    &:before {
      border: .5rem solid $white;
      border-radius: 50%;
      bottom: -.5rem;
      content: '';
      left: -.5rem;
      position: absolute;
      right: -.5rem;
      top: -.5rem;
    }

    @include modifier('phone') {
      border: .25rem solid $yellow;
      padding: 1rem;

      &:before {
        bottom: -.75rem;
        left: -.75rem;
        right: -.75rem;
        top: -.75rem;
      }
    }

    svg {
      fill: $yellow;
      transform: rotateY(180deg);
    }
  }

  @include element('item') {
    @include cta-large-text;
    color: $grey-dark;
    padding: .5rem .25rem;
    text-align: center;
  }
}
