.m-heroSlider {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;

  @media(min-width: 720px) {
    padding-top: 0;
  }

  @include element('image') {
    display: none;
    height: 100%;
    width: 100%;

    @include modifier('current') {
      display: inherit;
    }
  }

  @include element('thumbnail') {
    @include size(48px);
    border-bottom: 2px solid $clear-yellow;
    margin: .125rem;
    object-fit: contain;
    padding: 1rem 0 .25rem;
    transition: border $base-duration $base-timing;

    &:hover {
      border-bottom: 2px solid $yellow-dark;
    }

    @include modifier('current') {
      border-bottom: 2px solid $yellow;
    }
  }
}
