// Syles for individual items in a link grid
.m-linkGridItem {
  @include size(100%);
  padding: 5vw 2vw;
  position: relative;

  @include element('overlay') {
    @include overlay;
    background-color: $black-50;
    mix-blend-mode: multiply;
    transition: background-color $base-duration $base-timing;
    z-index: 1;

    &:hover {
      background-color: $yellow;
    }
  }

  @include element('title') {
    @include cta-grid;
    color: $white;
    pointer-events: none;
    position: relative;
    text-align: center;
    z-index: 2;

    &:hover {
      color: $white;
    }
  }
}
