// Dropdown styling
.m-mapDropdown {
  background-color: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  left: 0;
  list-style-type: none;
  position: absolute;
  top: 100%;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  width: 100%;

  @include modifier('hidden') {
    display: none;
  }

  @include element('country') {
    background-color: $clear-yellow;
    border-bottom: 1px solid #919191;
    font-weight: $font-regular;
    padding: .3rem 0 .3rem 2rem;
    transition: background-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      background-color: $yellow;
    }
  }

  @include element('region') {
    background-color: $clear-yellow;
    border-bottom: 1px solid #919191;
    font-weight: $font-bold;
    line-height: 1.5rem;
    padding: .5rem 0 .5rem 2rem;
    text-transform: uppercase;
    transition: background-color $base-duration $base-timing;
    width: 100%;

    a {
      text-transform: uppercase;
    }

    &:hover {
      background-color: $yellow;
    }
  }
}
