// Styles for the mobile primary navigation menu
.m-mobileNav {
  align-items: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include element('logo') {
    width: 14rem;
    margin: .5rem auto;

    @media(min-width: 375px) {
      width: 18rem;
    }
  }

  @include element('menu') {
    box-shadow: 0 10px 8px #9999;
    max-height: calc(100vh - 160px);
    overflow-y: scroll;
    width: 100%;
  }

  @include element('quicklinks') {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include element('toggle') {
    @include size(1.6rem);
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;

    svg {
      fill: $grey-dark;
      width: 100%;
    }
  }
}
