// Styles for dropdown blocks
.m-navBlock {
  background-color: $grey-dark;
  display: none;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
  padding: 1rem 1rem 2rem;
  top: 100%;
  width: 100%;

  &.--has-loaded {
    display: flex;
  }

  @include element('grid') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;

    @include modifier('pictureGrid') {
      width: 100%;

      @media(min-width: 1140px) {
        max-width: 80%;
      }
    }
  }

  @include element('list') {
    width: 100%;

    @media(min-width: 880px) {
      width: 50%;
    }

    @include modifier('littleList') {
      @media(min-width: 880px) {
        width: 100%;
      }

      @media(min-width: 1140px) {
        width: 20%;
      }
    }
  }

  @include element('button') {
    padding-top: 1rem;
    width: 100%;
  }
}
