// Styles for the quicklinks block of the primary nav
.m-navQuicklinks {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  @include element('button') {
    @include primary-nav;
    align-items: center;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    margin: 0 0 0 .125rem;
    text-align: center;
    width: calc(100% - 3.75rem);

    &:hover {
      color: $white;
    }
  }

  @include element('flag') {
    @include size(2.4rem);
  }

  @include element('icon') {
    @include size(.75rem);
    fill: $white;
    margin: .5rem auto 0;
  }

  @include element('menu') {
    align-content: center;
    background-color: $clear-black;
    display: flex;
    justify-content: center;
    padding: 0;
    transition: background-color $base-duration $base-timing;
    width: 3.2rem;

    &:hover,
    &.--open {
      background-color: $grey-dark;
    }

    &:focus {
      outline: 0;
    }
  }

  @include element('phone') {
    @include lato-black;
    font-size: .8rem;
    margin: auto 0;
    width: calc( 100% - 4.4rem );
  }

  @include element('search') {
    background-color: $grey-light;
    padding: .44rem .9rem;
    transition: background-color $base-duration $base-timing;

    &:hover {
      background-color: $yellow;
    }
  }
}
