// Styles for the top-level navigation menu items
.m-navMenu {
  @include list-reset;
  @include primary-nav;
  align-content: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;

  @include element('item') {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @include element('label') {
    background-color: $clear-black;
    color: $grey-medium-light;
    cursor: default;
    padding: .5rem;
    transition: background-color $base-duration $base-timing,
      color $base-duration $base-timing,
      padding $base-duration $base-timing;

    @media(min-width: 1036px) {
      padding: .5rem 1rem;
    }

    @include modifier('has-loaded') {
      color: $grey-dark;
      cursor: pointer;

      &:hover,
      &.--active {
        background-color: $grey-dark;
        color: $yellow;
      }
    }
  }
}
