// Styles for the top-level navigation menu items
.m-navMenu {
  @include list-reset;
  @include primary-nav;
  display: flex;
  justify-content: center;

  @include element('item') {
    .m-navMenu__label {
      background-color: $clear-black;
      color: $grey-medium-light;
      display: relative;
      padding: 1rem;
      transition: background-color $base-duration $base-timing,
        color $base-duration $base-timing;

      &.--has-loaded {
        color: $grey-dark;
      }

      &:hover,
      &.--active {
        background-color: $grey-dark;
        color: $yellow;
      }
    }
  }
}
