// Styles for the product options dialog
.m-optionsDialog {
  @include proxima-nova;
  border: none;
  cursor: default;
  max-width: 840px;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;

  @media(max-width: 768px) {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &::backdrop,
  & + .backdrop {
    @include position(fixed, 0);
    background-color: $black-75;
  }

  @include element('button') {
    background-color: $yellow;
    cursor: pointer;
    display: flex;
    font-weight: $font-bold;
    justify-content: center;
    margin-top: 7.5rem;
    padding: .5rem;
    transition: color $base-duration $base-timing;
    width: 100%;

    @media(max-width: 768px) {
      margin-top: 2rem;
    }

    &:hover {
      color: $white;
    }
  }

  @include element('description') {
    padding: 0 1rem;
  }

  @include element('thumbnail') {
    float: none;
    margin: 0;
    width: 100%;

    @media(min-width: 768px) {
      float: left;
      width: 35%;
      margin-right: 5%;
      margin-bottom: 2rem;
    }

    @media(max-width: 768px) {
      max-width: 70%;
    }
  }

  @include element('title') {
    font-size: rem(24);
    font-weight: $font-bold;
    margin: 0 0 1rem;
    padding: 0 1rem;

    @media(max-width: 768px) {
      margin-top: 2rem;
    }
  }
}
