// Styles for the description area of the product hero module
.m-productHero {
  text-align: left;

  @include element('badges') {
    display: flex;
    flex-wrap: wrap;
    padding-left: .7rem;
  }

  @include element('description') {
    padding-left: .7rem;

    p {
      font-size: .95rem;
    }

    a {
      color: $yellow;
    }
  }

  @include element('headline') {
    @include open-sans-regular;
    border-left: 1rem solid $yellow;
    color: $grey-dark;
    font-size: rem(24);
    margin: 0 0 0 -2rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
    width: 100%;

    @include modifier('capacity') {
      font-weight: $font-bold;
    }

    @include modifier('category') {
      @include lato-black;
      font-size: rem(36);
      position: relative;
      transition: font-size $base-duration $base-timing;

      @media(min-width: 445px) {
        font-size: rem(54);
      }

      @media(min-width: 890px) {
        font-size: 3.8rem;
        line-height: 4rem;
      }

      &::after {
        border-bottom: 1px solid $black;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    @include modifier('top') {
      margin-bottom: -.5rem;
    }
  }

  @include element('price') {
    font-weight: $font-bold;
    margin: 2.4rem 0;
    padding-left: .7rem;
  }
}
