// Styles for the product description block
.m-productDescription {
  padding: 0;

  @include element('description') {
    padding: .25rem 0 .5rem;

    p {
      color: $white;
      line-height: 1.5;
    }

    a {
      color: $yellow;
    }
  }

  @include element('headline') {
    color: $yellow;
    margin-bottom: 0;
  }
}
