// Styles for the product "standard features" block
.m-productStandards {
  padding: 0;

  @media(min-width: 640px) {
    padding: 0 0 0 8%;
  }

  @include element('headline') {
    color: $yellow;
  }

  @include element('item') {
    align-items: center;
    border-top: 1px solid $grey-medium-light;
    display: flex;
    padding: .75rem 0;
  }

  @include element('list') {
    display: flex;
    flex-direction: column;
    margin: .25rem 0 1.5rem;
    padding-inline-start: 0;
    list-style-type: none;
  }
}
