// Styles for individual results from a product result grid
.m-resultOption {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  @include element('headline') {
    @include banner-text;
    margin-bottom: 0;

    @include modifier('regular') {
      font-weight: $font-regular;
    }
  }

  @include element('subhead') {
    @include lato-black;
    font-size: rem(48);
    margin: .25rem;
  }

  @include element('image') {
    @include size(50vw);
    max-height: 320px;
    max-width: 320px;

    @media(min-width: 720px) {
      @include size(25vw);
    }
  }
}
