// Styles for rich links within the sidebar
.m-richLink {
  align-items: center;
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;

  @media(max-width: 920px) {
    flex-wrap: wrap;
  }

  @include element('content') {
    @include lato-black;
    align-content: center;
    display: flex;
    font-size: rem(18);
    flex-wrap: wrap;
    flex: 0 1 70%;
    padding-left: 1rem;

    @media(max-width: 920px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    @include modifier('description') {
      @include open-sans-regular;
      font-size: .85rem;

      @media(max-width: 920px) {
        padding-top: .5rem;
        text-align: center;
        width: 100%;
      }
    }
  }

  @include element('image') {
    flex: 0 1 30%;
    margin: auto;
    max-width: 70px;
  }
}
