// Content block styles within the related product module
.m-relatedContent {
  margin: auto;
  padding: 0 .5rem 1rem;
  width: 90%;

  @media(min-width: 1024px) {
    width: 65%;
  }

  @include modifier('image') {
    max-width: 65%;
    padding-top: 1.5rem;
    width: auto;

    @media(min-width: 1024px) {
      max-width: 35%;
    }
  }

  @include element('body') {
    margin: 0 5%;
    width: 90%;
  }

  @include element('button') {
    background-color: $yellow;
    margin: 0 5%;
    padding: 1rem;
    text-align: center;
    width: 90%;
  }
}
