// Styles for the request form
.m-requestForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;

  @include element('disclosure') {
    width: 100%;
  }

  @include element('field') {
    border: .25rem solid $clear-white;
    width: 100%;

    @include modifier('half') {
      width: 100%;

      @media(min-width: 840px) {
        width: 50%;
      }
    }
  }

  input,
  textarea {
    color: $grey-dark;
    font-weight: 500;
    padding: 1.25rem 1.6rem;
  }

  .gform_footer {
    margin: .25rem;
    width: 100%;

    .gform_button {
      background-color: $yellow;
      color: $grey-dark;
      width: 100%;
    }
  }
}
