// Styles for rich links within the sidebar
.m-richLink {
  align-items: center;
  display: flex;
  padding: 1rem 0;

  @include element('content') {
    @include lato-black;
    align-content: center;
    display: flex;
    font-size: rem(18);
    flex-wrap: wrap;
    padding-right: 1rem;

    @include modifier('description') {
      @include open-sans-regular;
      font-size: 1rem;
    }
  }

  @include element('image') {
    margin: auto;
    max-width: 125px;
    padding: 1rem 1.5rem;
  }
}
