// Search form styles
.m-searchForm {
  background-color: $grey-light;
  display: none;
  width: 100%;

  @include modifier('preload') {
    display: hidden;
  }

  @include modifier('has-loaded') {
    display: flex;
  }

  @include element('input') {
    background-color: $clear-white;
    color: $grey-dark;
    width: 100%;

    &::placeholder {
      color: $grey-dark;
    }
  }

  @include element('label') {
    padding: 0;
    width: calc(100% - 120px);
  }

  @include element('submit') {
    width: 120px;
  }
}
