// Styles specific to the Gravity Forms form in sidebar modules
.m-widgetForm {
  display: flex;
  font-size: rem(18);
  margin: auto;
  max-width: 800px;

  @media(max-width: 920px) {
    max-width: none;
  }

  .gform_body {
    width: 65%;

    input {
      background-color: $grey-lightest;
      font-weight: $font-regular;
      width: 100%;

      &::placeholder {
        color: $grey-medium-dark;
        font-size: rem(18);
        text-transform: uppercase;
      }
    }

    .m-widgetForm__email {
      width: 100%;

      input[type="text"] {
        padding: 1.25rem 1.5rem;
      }
    }
  }

  .gform_footer {
    width: 35%;

    .gform_button {
      background-color: $yellow;
      color: $white;
      height: 100%;
      font-size: 1rem;
      text-transform: uppercase;
      transition: color $base-duration $base-timing;
      width: 100%;

      &:hover {
        color: $grey-dark;
      }
    }
  }
}
