// Styles for the wider version of the primary navbar
.m-wideNav {
  align-content: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc( 100vw - 1rem );

  @media(min-width: 1100px) {
    justify-content: center;
    width: 1100px;
  }

  @include element('logo') {
    margin-top: auto;
    width: 13.375rem;
  }

  @include element('menu') {
    align-content: flex-end;
    display: flex;
    width: calc( 100% - 26rem );
  }

  @include element('quicklinks') {
    align-content: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25rem;
    width: 14rem;
  }
}
